
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=364">
	<meta name="generator" content="Little Printer - https://github.com/idleberg/Little-Tumbler">
	{{#with title.tumblr}}
	<!-- post title -->
	<title>{{title}}</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<!-- post title -->
	<h1><a href="{{url}}">{{title}}</a></h1>
	
	<!-- post description -->
	<h2>{{description}}</h2>
	
	<!-- post image -->
	<a href="{{image_permalink}}">
		<img class="dither" src="{{image}}" alt="{{image_caption}}" />
	</a>
	
	<!-- post caption -->
	<p>{{caption}}</p>
	
	<!-- (of course there's no point in displaying a) list of post tags -->
	<ul>
	  {{#each tags}}
	  <li><a href="http://tumblr.com/tagged/{{this}}">{{this}}</a></li>
	  {{/each}}
	</ul>
	{{/with}}
</body>
</html>